<%- include('partials/header') %> 

<body>
    <%- include('partials/navbar') %> 
    

    <h1>You are browsing in <%= name %> subreddit </h1>
    <h2>Total subscribers count: <%= subscribers %> </h2>
    <hr>
    <% for(let post of posts){ %> 
        <article>
            <p><%= post.title %> - <b><%= post.author %> </b></p>
            <% if(post.img){ %> 
                <img src="<%= post.img %> " alt="">
            <% } %> 
        </article>
    <% } %> 
</body>
</html>